main > div {
    margin: 10vh 0;
    align-items: center;
}

main > div > h2 {
    margin: 5vh 0;
}

main > div > button {
    margin: 1.5vh 0;
    width: 200px;
    height: 45px;
}

.authenticationForm {
    margin: 2.5vh;
}

.authenticationForm > input {
    width: 200px;
    height: 45px;
    margin: 7px 0;
}

hr {
    margin: 2.5vh auto!important;
    width: 50%;
    opacity: 100%!important;

}