a {
    text-decoration: none!important;
    color: black !important;
}

#course {
    border: 1px solid black;
    margin: 5vh 5vw;
}

#course>#courseTop {
    background-color: black;
    color: white;
    text-align: right;
    padding: 5px
}

#courseTop>div {
    padding: 4.5px;
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
}

#courseTop>button {
    margin: 0 10px;
    width: 115px;
    height: 95%;
    background-color: black;
    color: white;
    border: 1px solid white;
}

#courseTop>button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#courseTop>button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

#courseInf {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    width: 100%;

}

ul>li {
    /* Prevent double borders */
    background-color: #0080ff;
    padding: 5px;
    color: white;
}

ul>ul>li {
    border: 1px solid #ddd;
    /* Prevent double borders */
    background-color: #f6f6f6;
    color: black;
}

ul>ul>li:hover {
    background-color: #c7c7c7;
}

li > button {
    display: flex;
    float: right;
    background-color: #0080ff;
    border: none;
}

li > button:hover {
    background-color: #005fbe;
}

#topInfo {
    margin: 1.5vh 5vw;
    font-size: 16pt;
}
 
#topInfo > div {
    border-bottom: 1px solid black;
}

#topInfo span {
    margin: 0 1.5vw;
}

section {
    margin: 45px 5vw;
}

#features {
    padding-left: 0px;
}

#features > li {
    background-color: white;
    color: black;
}

hr {
    border: 1px solid black!important;
    opacity: 1!important;
}